:host {
  display: block;
}
h1 {
  text-align: center;
}
aside {
  width: 200px;
  height: 100%;
  border-right: 1px solid #ccc;
}
li {
  list-style: none;
  color: #ccc;
}
.active {
  color: black;
}
